html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 90px; 
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

section {
    scroll-margin-top: 100px;
}

.navegacao{
    width: 100%;
    display: flex;
    background: #555;
    padding: 1rem 0;
    border-radius: 10px
}


.navegacao ul {
    width: 100%;
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 1rem;
    margin: 0;
}
.navegacao li {
    position: relative;
    width: 120px;
    height: 40px;
    background: #000;
    border-radius: 20%;
    border-radius: 20px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s width 0.3s;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    gap: 1.5rem;
    overflow: auto;
    min-height: fit-content;
}
.navegacao li:hover {
    width: 200px;
    background: #ffffff;    
    border: 4px solid #000;
    box-shadow: #ffffff 1px 1px 5px 2px;
    border-radius: 20px;
}

.navegacao a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.navegacao li:hover a {
    color: black;
}

.navegacao li:hover,
.navegacao li.active,
.navegacao li.active:hover {
    width: 150px;           /* Só aumenta a largura */
    background: #fff;
    border: 4px solid #000;
    box-shadow: #ffffff 1px 1px 5px 2px;
    border-radius: 20px;    /* Mantém o mesmo border-radius */
}

.navegacao li:hover a,
.navegacao li.active a,
.navegacao li.active:hover a {
    color: #000;
}

/*home*/
.home {
    display: flex;
    width: 100%;
    min-width: 300px;
    gap: 50px;
    margin-top: 50px;
    margin-left: 70px;
    max-width: 1300px;
    padding: 50px;
    margin: 0 auto;
    flex-direction: row;
}

.home img{
    width: 50rem;
    height: 30rem;
    max-height: 30rem;
    object-fit: cover;
    background-color: #555;
}

/*Experiência*/
.experiencia {
    display: flex;
    width: 90%;
    min-width: 300px;
    gap: 50px;
    margin-top: 100px;
    margin-left: 70px;
    
    
}

.exp-esquerda {
    height: 20rem;
    background: #555;
    color: #fff;
    margin-left: 20px;
    box-shadow: #fff 0 0 20px 5px;
    flex: 1; 
    padding: 30px;
    border-radius: 10%;
    box-sizing: border-box;
    border: 2px solid #fff; 
}

.exp-esquerda h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center ;
}

.exp-esquerda p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    justify-content: center;
}
.exp-direita {
    color: #ffffff;
    margin-right: 20px;
    display: flex;             
    flex-direction: column;       
    align-items: center;        
}

.exp-direita h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

/*conhecimentos*/
.conhecimentos {    
    display: flex;
    width: 90%;
    min-width: 300px;
    gap: 50px;
    margin-top: 100px;
    margin-left: 70px;
    flex-direction: column;
}

.card{
    height: 20rem;
    background: #555;
    color: #fff;
    margin-left: 20px;
    box-shadow: #fff 0 0 20px 5px;
    border-radius: 10%;
    box-sizing: border-box;
    border: 2px solid #fff; 
}

.card-img-top{
    height: 15rem;
    max-height: 15rem;
    object-fit: cover;
}

.conhecimentos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}




/*Sobre*/
.sobre{
    display: flex;
    width: 90%;
    min-width: 300px;
    gap: 50px;
    margin-top: 50px;
    margin-left: 70px;
    flex-direction: column;  
}

.sobre h3{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: justify;
    color: #fff;
}

.accordion-button {
      background-color: #444 !important; 
      color: white !important; 
      border: 1px solid white; 
      box-shadow: #ffffff 1px 1px 5px 2px; 
}

.accordion-collapse.collapse.show .accordion-body{
   background-color: #555 !important; 
   color: white !important; 
   border: 1px solid white; 
}


.contato {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 130px;
    height: 40px;
    background: #ffffff;
    border-radius: 20px;
    border: 4px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: background 0.3s, width 0.3s;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.contato:hover {
    background: #000;
    box-shadow: #ffffff 1px 1px 5px 2px;
    color: white;
}

#rodape {
    width: 100%;
    background: rgba(128,128,128,0.2); 
    color: #fff;
    text-align: center;
    padding: 16px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: auto; 
}


