.navegacao{
    width: 100%;
    display: flex;
    background: #555;
    padding: 1rem 0;
    border-radius: 10px
}

.navegacao ul {
    width: 100%;
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 1rem;
    margin: 0;
}
.navegacao li{
    width: 120px;
    height: 40px;
    background: #000;
    border-radius: 20%;
    border-radius: 20px;
    border: 4px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s width 0.3s;
}

.navegacao li:hover {
    width: 200px;
    background: #ffffff; 
    box-shadow: #ffffff 1px 1px 5px 2px;
    border-radius: 20px;
}

.navegacao a {
    color: white;
    text-decoration: none;
}

.navegacao li:hover a {
    color: black;
}

.navegacao li:hover,
.navegacao li.active,
.navegacao li.active:hover {
    width: 150px;           /* Só aumenta a largura */
    background: #fff;
    box-shadow: #ffffff 1px 1px 5px 2px;
    border-radius: 20px;    /* Mantém o mesmo border-radius */
}

.navegacao li:hover a,
.navegacao li.active a,
.navegacao li.active:hover a {
    color: #000;
}

.home-section {
    display: flex;
    width: 100%;
    min-width: 400px;
    gap: 20px;
    margin-top: 20px;
}

.home-esquerda, .home-direita {
    flex: 1; 
    padding: 30px;
    border-radius: 10%;
    box-sizing: border-box;
    border: 2px solid #fff;
}

.home-esquerda {
    background: #555;
    color: #fff;
}
.home-direita {
    background: #555;
    color: #ffffff;
}

.contato{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 130px;
    height: 40px;
    background: #ffffff;
    border-radius: 20%;
    border-radius: 20px;
    border: 4px solid #555;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1000;
    transition: background 0.3s width 0.3s;
}
.contato a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.contato:hover{
    background: #000;
    box-shadow: #ffffff 1px 1px 5px 2px;
}

.contato:hover a{
    color: white;
    
}